version: "3"
services:
  mongodb:
    build: ./Mongodb
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - ./Mongodb/data:/data/db
    env_file:
      - .env
  polling_server:
    build: ./PollingServer
    ports:
      - "${POLLING_SERVER_PORT}:3000"
    volumes:
      - /usr/app/node_modules
      - ./PollingServer:/usr/app
      - ./Shared/mongoose:/usr/app/src/mongoose
    env_file:
      - .env
